<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SearchWebapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- LuceneSearcher -->
  <servlet>
    <servlet-name>LuceneSearcher</servlet-name>
    <servlet-class>com.myles.demo.searchwebapp.LuceneSearcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LuceneSearcher</servlet-name>
    <url-pattern>/lucenesearcher</url-pattern>
  </servlet-mapping>
  <!-- FilePetcher -->
  <servlet>
    <servlet-name>FileFetcher</servlet-name>
    <servlet-class>com.myles.demo.searchwebapp.FileFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileFetcher</servlet-name>
    <url-pattern>/filefetcher</url-pattern>
  </servlet-mapping>
</web-app>